h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1 {
    --h1-color: var(--color-pink);
}

h2, .markdown-rendered h2, .HyperMD-header-2, .HyperMD-list-line .cm-header-2 {
    --h2-color: var(--color-base-100);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-base-40)
}

h3, .markdown-rendered h3, .HyperMD-header-3, .HyperMD-list-line .cm-header-3 {
    --h3-color: var(--color-yellow);
}

h4, .markdown-rendered h4, .HyperMD-header-4, .HyperMD-list-line .cm-header-4 {
    --h4-color: var(--color-green);
}

h5, .markdown-rendered h5, .HyperMD-header-5, .HyperMD-list-line .cm-header-5 {
    --h5-color: var(--color-blue);
}

h6, .markdown-rendered h6, .HyperMD-header-6, .HyperMD-list-line .cm-header-6 {
    --h6-color: var(--color-purple);
}
