# See https://ghostty.org/docs/config

theme = dark:Catppuccin Mocha,light:Catppuccin Latte
background = 181818
bold-is-bright = true

# Text looks pixelated on my monitor w/o thickening
# See https://github.com/ghostty-org/ghostty/issues/661
font-thicken = true

# Custom keybindings
# See https://ghostty.org/docs/config/keybind
keybind = super+alt+right=next_tab
keybind = super+alt+left=previous_tab
keybind = cmd+enter=text:\n
keybind = shift+enter=text:\n
